---
import Footer from "@/components/Footer";
import BaseLayout from "./BaseLayout.astro";

interface IProps {
  title: string;
  description?: string;
  image?: string;
  url?: string;
  type?: string;
}

const props: IProps = Astro.props as IProps;
---

<BaseLayout {...props}>
  <main class="flex-1">
    <slot />
  </main>
  <Footer client:load />
</BaseLayout>